.camera-frame-class {
  position: fixed;
  top: 0; left: 0; right:0;
  margin-left: auto; margin-right: auto;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
  z-index: -1;
  overflow-y:visible
}